// SECAO CAROUSEL
.carousel {
  background-image: url("../img/background3.png");
  background-size: cover;
}

.btn-carousel {
  height: 40px;
  width: 40px;
  padding: 0;
  color: $gray800;
  &:hover {
    background-color: $danger;
    color: #fff;
  }
}

// TEAM
.team-image {
  width: 200px;
  height: 250px;
  margin: auto;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .team-social-medias {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s ease;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 20%,
      transparent 50%
    );

    div {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
      a {
        color: #fff;
        margin-right: 10px;
      }
    }
  }

  &:hover .team-social-medias {
    opacity: 1;
  }
}

.team-info {
  margin-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $gray800;
  span {
    font-weight: 400;
    color: $gray700;
    font-size: 0.8rem;
  }
}

.team-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

// TESTIMONIALS

.testimonials-carousel {
  position: relative;
  margin-top: 75px;
}

.testimonials-card {
  background-color: #fff;
  padding: 40px;
  p {
    color: $gray800;
    font-weight: 400;
  }

  .testimonials-autor {
    display: flex;

    .testimonials-user {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $gray900;
      font-weight: 700;
      span {
        color: $gray700;
        font-weight: 400;
      }
    }
  }
}

.testimonials-arrow {
  
  position: absolute;
  top: -50px;
  display: block;
  &.prev-arrow{
    left: 2px;
  }
  &.next-arrow{
    right: 2px;
  }  
  
}

@media (min-width: 768px) {
  .testimonials-carousel {
    width: 80%;
    margin: auto;
  }
  
  .testimonials-card {
    padding: 50px 100px;
    background-image: url('../img/braces.svg');
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: top 35px left 40px;  
  }

  .testimonials-arrow {
    top: 50%;
    &.prev-arrow{
      left: -50px;
    }
    &.next-arrow{
      right: -50px;
    }   
  }
}