@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// COLORS
$primary: #FF3F3A;
$btn-gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
$success: #03C3A4;
$danger: #FF4242;
$warning: #F89829; 
$info: #5A87FC;
$pink: #F52F6E;
$gray900: #1E212C;
$gray800: #424551;
$gray700: #787A80;
$gray600: #9A9CA5;

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.btn {
  font-weight: 700;
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.btn-gradient {
  color: #fff;
  background-image: $btn-gradient;
  transition: all 1s ease;
  &:hover {
    color: #fff;
    background-image: linear-gradient(55.95deg, #ec3c36 0%, #e95905 100%);
  }
}

.btn-outline-gradient {
  position: relative;
  span {
    background-image: $btn-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 1px;
    background: $btn-gradient;
    -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
  &:hover {
    span {
      color: #fff;
    }
    background-image: $btn-gradient;
  }
}

.section {
  color: $gray900;
  max-width: 1000px;
  h6 {
    text-transform: uppercase;
    font-weight: 700;
  }
  h1 {
    font-weight: 900;
    margin-bottom: 2rem;
  }
}