.header {
  font-weight: 700;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  padding: 0;
  max-width: 1000px;
  margin: auto;
}

.navbar-dropdown {
  text-align: center;
  background-color: #ffcfc6;
  a {
    color: $gray800;
  }
  .btn {
    display: block;
    margin: 0.5em auto;
  }
  @media (min-width: 768px) {
    background-color: transparent;
    .btn {
      display: block;
      margin: 0.5em;
    }
  }
}

.btn-login {
  color: $gray800;
}

.logo {
  padding: 0.5em;
}
